*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #ff4324, #ff442234,#9005ec);
}


.container h1
{
    font-size: 100px;
}